// Colors
$primary-color: hsl(185, 75%, 39%) // Dark Cyan
$secondary-color: hsl(229, 23%, 23%) // Very Dark Desaturated Blue
$tertiary-color: hsl(227, 10%, 46%) // Dark Grayish Blue
$neutral-color: hsl(0, 0%, 59%) // Dark Gray
// Font
$font-size: 1.8px
$font-stack: 'Kumbh Sans', sans-serif
$font-normal: 400
$font-bold: 700
// #################################### //
*
    box-sizing: border-box
    margin: 0
    padding: 0
html
    font-size: 62.5%
    font-family: $font-stack
// #################################### //
body
    p
        color: red
